.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    color: rgb(0, 0, 0);
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav a:hover {
    color: rgb(83, 166, 255);
}

.nav .LogoutButton {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.LogoutButton:hover {
    color: rgb(83, 166, 255);
}